{% set background = item.background_colour %}

<!-- Form Start-->
<div class="o-row o-row--white">
    <div class="o-container">
        {% if item.heading %}
            <h2 class="e-heading e-heading--three">{{ item.heading }}</h2>
        {% endif %}
        {% if item.form_id %}
            <div>
                {% filter shortcodes %}[ninja_form id="{{ item.form_id }}"]{% endfilter %}
            </div>
        {% endif %}
    </div>
</div>
<!-- Form End -->