
/* ============================================================
    * Components - Banner
============================================================ */

/**
 * Hero Banner styles, this includes an image and can also 
 * include a video or a slider for example.
*/

.c-banner {
	position: relative;
	
	&__item {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
	}
}
